{{define "form"}}
<form method="POST">
    <button name="action" value="edit" {{if .Edit}}disabled{{end}}>Edit</button>
    <button name="action" value="view" {{if not .Edit}}disabled{{end}}>Preview</button>
    <br>
    {{if .Edit}}
        {{template "form.edit" .}}
    {{else}}
        {{template "form.view" .}}
    {{end}}
</form>
{{end}}
