{{define "form"}}
    {{$demoMode := 0}}
    {{$chooseMode := 1}}
    {{$editMode := 2}}
    {{$viewMode := 3}}
    {{$respMode := 4}}

    {{$demoON := eq .User.ID $demoMode}}
    {{$chooseOFF := eq .PageMode $chooseMode}}
    {{$editOFF := ne .PageMode $viewMode}}
    {{$viewOFF := ne .PageMode $editMode}}

    {{template "html.start" .}}
    <form method="POST">
        <button name="action" value="edit" {{if $editOFF}}disabled{{end}}>Edit this form</button>
        <button name="action" value="view" {{if $viewOFF}}disabled{{end}}>Save & View form</button>
        <button name="action" value="choose" {{if $chooseOFF}}disabled{{end}}>Choose form</button>
        <button name="action" value="auth">{{if $demoON}}login{{else}}logout ({{.User.Name}}){{end}}</button>
        {{if eq .PageMode $chooseMode}}
            {{template "form.choose" .}}
        {{else if eq .PageMode $editMode}}
            {{template "form.edit" .}}
        {{else if eq .PageMode $viewMode}}
            {{template "form.view" .}}
        {{else if eq .PageMode $respMode}}
            {{template "form.resp" .Versions}}
        {{end}}
        <br><br>
        <button name="action" value="edit" {{if $editOFF}}disabled{{end}}>Edit this form</button>
        <button name="action" value="view" {{if $viewOFF}}disabled{{end}}>Save & View form</button>
        <button name="action" value="choose" {{if $chooseOFF}}disabled{{end}}>Choose form</button>
        <button name="action" value="auth">{{if $demoON}}login{{else}}logout ({{.User.Name}}){{end}}</button>
    </form>
    <br>
    {{if $demoON}}<em class="error">Demo mode does not save changes
        <br>Login to create and save forms today!</em>{{end}}
    {{template "html.end" .}}
{{end}}
