{{define "form.view"}}
<input type="hidden" name="title" value={{.Title}}>
        <h1>{{.Title}}</h1>
        {{range .Fields}}
            <input type="hidden" name="label" value={{.Value}}>
            <input type="hidden" name="type" value={{.Type}}>
            {{if .Value}}
                <label>{{.Value}}</label>
                <input type={{.Type}} disabled>
            {{else}}
                <br>
            {{end}}
            <br>
        {{end}}
{{end}}
