{{define "form.choose"}}
    <h1>Choose a form</h1>
    <form method="POST">
        <dl>
        {{range .Forms}}
            <dt><a href="edit/{{.ID}}">{{.Title}}</a></dt>
            <dd><em>last updated {{.Updated}}</em> <button name="action" value="del{{.ID}}">❌</button></dd>
        {{end}}
        </dl>
        <button name="action" value="add">➕ New Form</button>
    </form>
{{end}}
