{{define "form.view"}}
    <input type="hidden" name="title" value={{.Title}}>
    <h1>{{.Title}}</h1>
    {{range $index, $_ := .FormItems}}
        <input type="hidden" name="label" value={{.Label}}>
        <input type="hidden" name="type" value={{.Type}}>
        {{range .Options}}<input type="hidden" name="options{{$index}}" value={{.}}>{{end}}
        <label>{{.Label}}</label>
        {{if .Label}}
            {{if eq .Type "select"}}
                <select>{{range .Options}}<option>{{.}}</option>{{end}}</select>
            {{else}}<input type={{.Type}}>{{end}}
        {{end}}
        <br>
    {{end}}
{{end}}
