{{define "form"}}
    {{template "html.start" .}}
    <form method="POST">
        <button name="action" value="change">Change Form</button>
        <button name="action" value="edit" {{if .EditMode}}disabled{{end}}>Edit Form</button>
        <button name="action" value="view" {{if not .EditMode}}disabled{{end}}>Save / View</button>
        <br>
        {{if .EditMode}}
            {{template "form.edit" .}}
        {{else}}
            {{template "form.view" .}}
        {{end}}
    </form>
    {{template "html.end" .}}
{{end}}
