{{define "form.view"}}
    <div class="form">
        <h1>{{.Title}}</h1>
        <input type="hidden" name="title" value={{.Title}}>
        {{range $index, $_ := .FormItems}}
            <label>{{.Label}}</label>
            {{if .Label}}
                {{if eq .Type "select"}}
                    <select>{{range .Options}}<option>{{.}}</option>{{end}}</select>
                {{else}}<input type={{.Type}}>{{end}}
            {{end}}
            <input type="hidden" name="label" value={{.Label}}>
            <input type="hidden" name="type" value={{.Type}}>
            {{range .Options}}<input type="hidden" name="options{{$index}}" value={{.}}>{{end}}
            <br>
        {{end}}
        <br>
        <button type="button" disabled>Send</button>
    </div>
    {{if ne .User.ID 0}}
        <em><br>Your users can submit this form at<br></em>
        <a href="/use/{{.Form.ID}}">ewforms.herokuapp.com/use/{{.Form.ID}}</a>
    {{end}}
{{end}}
