{{define "layout"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
</head>
<body>
    <header>
    </header>
    <main>
        {{template "form" .}}
    </main>
</body>
</html>
{{end}}
